<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login Page</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>
    <body>
        <div>
            <video autoplay loop muted plays-inline class="back-video">
                <source src="static/images/Mesh.mp4" type="video/mp4">
            </video>
            <header>
                <ul>
				    <li><a href="http://127.0.0.1:5001/home" class="active">Home</a></li>
				    <li><a href="http://127.0.0.1:5001/Sign_In">Login</a></li>
				    <li><a href="http://127.0.0.1:5001/Sign_Up">SignUp</a></li>
				    <li><a href="http://127.0.0.1:5001/">About</a></li>
			    </ul>
            </header>
            <div class="login-card-container">
                <div class="card">
                  <h1 class = "title">ProFy</h1>  
                </div>
            </div>

	</body>
</html>