<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login Page</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/user_style.css') }}"> 
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>
    <body>
        <div>
        <header>
            <header>
                <ul>
				    <li><a href="http://127.0.0.1:5001/ap">Add Project</a></li>
				    <li><a href="http://127.0.0.1:5001/rp">Remove Project</a></li>
				    <li><a href="http://127.0.0.1:5001/at">Add Task</a></li>
				    <li><a href="http://127.0.0.1:5001/rt" class="active">Remove Task</a></li>
                    <li><a href="http://127.0.0.1:5001/et">Edit Task</a></li>
                    <li><a href="http://127.0.0.1:5001/ep">Edit Project</a></li>
                    <li><a href="http://127.0.0.1:5001/view">View</a></li>
			    </ul>
        </header>
        <div class = "container">
            <form class="addproject", method ='post'>
                <div class="editproject">
                    <input class = "addprojecttextbox" type="text" name="project" method ="post" placeholder="Project" required autofocus>
                    <input class = "addprojecttextbox" type="text" name="task" method ="post" placeholder="Remove Task" required autofocus>
                </div>
                <button type="submit" name = "submit-button">Remove Task</button>
            </form>
        </div>
    </div>
</div>
    </body>
</html>