<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login Page</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}"> 
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    </head>
    <body>
        <div>
        <header>
            <header>
                <ul>
				    <li><a href="http://127.0.0.1:5001/ap">Add Project</a></li>
				    <li><a href="http://127.0.0.1:5001/rp">Remove Project</a></li>
				    <li><a href="http://127.0.0.1:5001/at">Add Task</a></li>
				    <li><a href="http://127.0.0.1:5001/rt" class="active">Remove Task</a></li>
                    <li><a href="http://127.0.0.1:5001/et">Edit Task</a></li>
                    <li><a href="http://127.0.0.1:5001/ep">Edit Project</a></li>
                    <li><a href="http://127.0.0.1:5001/view">View</a></li>
                    <li><a href="http://127.0.0.1:5001/logout">Log Out</a></li>
			    </ul>
        </header>
    <div class = "login-card-container">
        <div class = "login-card">
            <div class = "login-card-header">
                <h1>Remove Task</h1>
            </div>
            <form class="login-card-form", method ='post'>
                <div class="form-item">
                    <input class = "form-item-textbox" type="text" name="project" method ="post" placeholder="Project" required autofocus>
                    <input class = "form-item-textbox" type="text" name="task" method ="post" placeholder="Remove Task" required autofocus>
                </div>
                <button type="submit" name = "submit-button">Remove Task</button>
            </form>
        </div>
    </div>

</div>
    </body>
</html>