<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login Page</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}"> 
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" >
    </head>
    <body>
        <div>
            <header>
                <ul>
                    <a class="name">{{name}}</a>

				    <li><a href="http://localhost:5000/ap">Add Project</a></li>
				    <li><a href="http://localhost:5000/rp">Remove Project</a></li>
				    <li><a href="http://localhost:5000/at">Add Task</a></li>
				    <li><a href="http://localhost:5000/rt">Remove Task</a></li>
                    <li><a href="http://localhost:5000/et">Edit Task</a></li>
                    <li><a href="http://localhost:5000/ep">Edit Project</a></li>
                    <li><a href="http://localhost:5000/view" class="active">View</a></li>
                    <li><a href="http://localhost:5000/progress">Progress</a></li>
                    <li><a href="http://localhost:5000/logout">Log Out</a></li>
			    </ul>
            </header>
            <div class = "view">
                <h1 class = "view-title">List Of Projects</h1>
                    {% for project in projects %}
                        <div class="view-content">
                            <a class = "view-content-text" href ="view/{{project}}">{{project}}</a>
                        </div>
                    {% endfor %}
                    <!--<div class = "button_box">
                        <a type= "button" class="sort_button" href = "viewsorted" > Sort Projects (a-z)</a>
                    </div> -->

                    <div class="sort-flex-container">
                        <div id="sort-a-z-button" class = "button_box">
                            <a type= "button" class="sort_button" href = "viewsorted" > Sort Projects (a-z)</a>
                        </div>

                        <div id="sort-z-a-button" class = "button_box">
                            <a type = "button" class= "reversesort_button" href = "reversesorted" > Sort Projects (z-a)</a>
                        </div>
            </div>
        </div>
    </body>
</html>