@import url('https://fonts.googlepis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body
{
	min-height:100vh;
	overflow: hidden;
	background: black;
}
header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header ul
{
	display: flex;
	justify-content: center;
	align-items: center;

}
header ul li
{
	list-style: none;
	margin-left: 20px;

}
header ul li a
{
	text-decoration: none;
	padding: 6px 15px;
	color:  #fff;
	border-radius: 20px;
}
header ul li a:hover, 
header ul li a.active
{
	background: #fff;
	color:#042f66;

}
.back-video
{
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: -1;
}
.background-logo
{
	position: relative;
	margin-left:550px;
	margin-top:200px;

}
div.container li a
{
	text-orientation:sideways;
	text-decoration: none;
	background-color: white;
	padding-top: 400px;
	padding-bottom: 250px;
	padding-right: 10px;
	padding-left: 5px;
	border-top-right-radius: 20px;
	border-bottom-right-radius:20px ;
	right: 1000;


}
div.container li a:hover
{
	text-orientation:sideways;
	text-decoration: none;
	background-color: white;
	padding-left: 2100px;
	padding-right: 10px;
	padding-top: 400px;
	padding-bottom: 250px;
	border-top-right-radius: 20px;
	border-bottom-right-radius:20px ;
	transition-duration: 2s;
}

.page.container{
    background: white;
    width: 1750px;
    height: 200px
}
@media (min-aspect-ratio: 16/9)
{
	.back-video{
		width: 100%;
		height: auto;
	}
}
@media (max-aspect-ratio: 16/9)
{
	.back-video{
		width: auto;
		height: 100%;
	}
}

