@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: linear-gradient(rgb(0, 0, 0), rgb(1, 44, 94),rgb(0, 11, 24));
    display: flex;
    align-items: center;
    justify-content: center;
}
header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	display: absolute;;
	justify-content: space-between;
	align-items: center;
    align-content: center;
}
header ul
{
	display: flex;
	justify-content: center;
	align-items: center;

}
header ul li
{
	list-style: none;
	margin-left: 20px;

}
header ul li a
{
	text-decoration: none;
	padding: 6px 15px;
	color:  #fff;
	border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
	background: #fff;
	color:#042f66;

}
.login-card-container {
    margin-top: 10rem;
    display: grid;
    place-content: center;
}

.login-card {
    margin-top: 50px;
    width: 450px;
    background: rgba(255, 255, 255, 0.412);
    padding: 4rem;
    border-radius: 20px;
    position: relative;
    transition: 2s;
}
.login-card:hover {
    margin-top: 50px;
    width: 455px;
    background: rgba(255, 255, 255, 0.606);
    padding: 4rem;
    border-radius: 20px;
    position: relative;
    transition: 2s;
}

.card {
    margin-top: 50px;
    width: 800px;
    height: 200px;
    padding: 1rem;
    border-radius: 20px;
    position: relative;
    border-color: white;
    border-style: solid;
    border-width: 1px;
}
.card:hover {
    margin-top: 50px;
    width: 800px;
    height: 200px;
    background: rgba(70, 70, 70, 0.5);
    padding: 1rem;
    position: relative;
    transition: 1s;
}

.title {
    font-size: 7.5rem;
    font-weight: 200;
    color:rgb(255, 255, 255);
    text-align: center;
    margin-top: 0;
    padding-left: 5rem;
    padding-right: 5rem;
    height: 100%;
    width: 100%;
    text-decoration: none;
    border-style: solid;
    border-color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: 50px;





}
.login-card-logo img {
    width: 150px
}
.login-card-logo,
.login-card-header,
.login-card-footer {
    text-align: center;
    color: rgb(255, 255, 255);
}
.login-card a {
    text-decoration: none;
    color:rgb(56, 56, 56)
}
.login-card a:hover {
    text-decoration: underline;
}
.login-card-header {
    margin-bottom: 2rem;
}
.login-card-header h1{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .5rem;
}
.login-card-header h1+div {
    font-size: calc(1rem*.8);
    opacity: .8;
}
.login-card-form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.login-card-form .form-item {
    position: relative;
}
.login-card-form .form-item .form-item-icon {
    position: absolute;
    top:.82rem;
    left: 1.4rem;
    font-size: 1.3rem;
    opacity: .4;
}

.login-card-form .checkbox {
    display: flex;
    align-items:center;
    gap: 7px;
}
.login-card-form .form-item-other {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(1rem * .8);
    margin-bottom: .5rem;
}
.login-card-footer{
    margin-top: 1.5rem;
    font-size: calc(1rem*.8);
}
.form-item input[type="text"],
.form-item input[type="password"],
.form-item input[type="email"] {
    border: none;
    outline: none;
    background-color: rgb(165, 165, 165);
    padding: 1rem 1.5rem;
    padding-left: calc(1rem*3.5);
    border-radius: 100px;
    width: 100%;
    transition: background 0.5s;
}
.form-item-textbox{
    border: none;
    outline: none;
    background-color: rgb(165, 165, 165);
    padding: 1rem 1.5rem;
    padding-left: calc(1rem*3.5);
    border-radius: 100px;
    width: 100%;
    transition: background 0.5s;
    margin-bottom: 1rem;
}
.login-card input:focus {
    background: white;
}

.login-card input[typ="checkbox"]{
    width: 16px;
    height: 16px;
    accent-color: black;
}
.login-card-form button{
    background: black;
    color: white;
    padding: 1rem;
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background .5s;
}

.login-card-form button:hover{
    background: rgb(151, 151, 151);
    color: rgb(0, 0, 0);
    padding: 1rem;
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background .75s;
}

.container {
  width: 70%;
  min-width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.kanban-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: sans-serif;
}

.kanban-heading-text {
  font-size: 1.8rem;
  background-color: tomato;
  padding: 0.8rem 1.7rem;
  border-radius: 0.5rem;
  margin: 1rem;
}

.task {
  background-color: white;
  margin: 0.2rem 0rem 0.3rem 0rem;
  border: 0.1rem solid black;
  border-radius: 0.2rem;
  padding: 0.5rem 0.2rem 0.5rem 2rem;
}

#task-button {
  margin: 0.2rem 0rem 0.1rem 0rem;
  background-color: white;
  border-radius: 0.2rem;
  width: 100%;
  border: 0.25rem solid black;
  padding: 0.5rem 2.7rem;
  border-radius: 0.3rem;
  font-size: 1rem;
}

.container:hover
{
    display: grid;
    align-items: center;
    align-content: center;
    place-content: center;
    margin-top: 20rem;
    height: 100%;
    width: 100%;
}

.view-content {
    padding: 0rem;
    border-radius: 20px;
    transition: 2s;
    margin-bottom: 5px;
    width: 500px;
    margin-left: 15px;
    border-style: solid;
    border-color: white;
    background-color:white;
}

.view-content:hover {
    background-color:rgba(255, 255, 255, 0.885);
    padding: .5rem;
    border-radius: 20px;
    transition: 2s;
    margin-bottom: 5px;
    width: 1675px;
    margin-left: 55px;
}

.view-content-text {
    display: grid;
    place-content: center;
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-size: 32px;
    padding: .5rem;
    width:100%;
}

.view {
 margin-top: 7rem;
 background-color:linear-gradient(rgb(1, 44, 94),black,rgb(1, 44, 94));
 height: 700px;
 width: 1800px;
 border-radius: 50px;
 opacity: .8;
 padding-top: 2rem;
 border-style: solid;
 border-color: white;
 display: grid;
 place-items: center;
}

.view-task {
    padding-left: 2rem;
    transition: 1s;
    color: white;
}

.view-task:hover {
    padding-left: 2rem;
    background-color: white;
    border-radius: 20px;
    margin-left: 2rem;
    transition: 1s;
    width: 90%;
    color:black;
}
.task {
    font-weight:lighter;

}

.view-title {
    display:grid;
    position: relative;
    font-weight: lighter;
    place-content: center;
    color: white;
}
.back-video {
    position: absolute;
    right:0;
    bottom: 0;
    z-index: -1;
}



.sort_button{
    background-color:rgb(131, 145, 154);
    padding: 8px;
    border-radius: 20px;
    transition: 1s;
    margin-top: 5%;
    margin-bottom: 5px;
    width: 200px;
    text-decoration: none;
    color: black;
    display: grid;
    place-items: center;
}

.sort_button:hover{
    background-color:rgb(91, 117, 133);
    padding: 10px;
    border-radius: 20px;
    transition: 1s;
    margin-top: 5%;
    margin-bottom: 5px;
    width: 200px;
    text-decoration: none;
    color: black;
    border-style: solid;
    border-color: rgb(16, 16, 16);
}



@media (min-aspect-ratio: 16/9){
    .back-video {
        width: 100%;
        height: auto;
}
@media (max-aspect-ratio: 16/9){
    .back-video {
        width: auto;
        height: 100%;
}