@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
    margin-bottom: 10rem;
}
header ul
{
	display: flex;
	justify-content: center;
	align-items: center;

}
header ul li
{
	list-style: none;
	margin-left: 20px;

}
header ul li a
{
	text-decoration: none;
	padding: 6px 15px;
	color:  #fff;
	border-radius: 20px;
}
header ul li a:hover,
header ul li a.active
{
	background: #fff;
	color:#042f66;

}

.form-container {
    width: 1500px;
    height: 500px;
    background: rgba(255, 255, 255, 0.5);
    padding: 4rem;
    border-radius: 50px;
    position: relative;
}
.form-header {
    color: white;
    text-align: center;
    background-color: black;
    border-radius: 100px;
    padding: 1rem;
}
.signup-form {
	position: center;
}

.formtextbox {
	position: center;
    border: none;
    outline: none;
    background-color: rgb(165, 165, 165);
    padding: 1rem 1.5rem;
    border-radius: 100px;
    width: 45%;
    transition: background 0.5s;
	margin-bottom: 10px;
	
}
.formtextbox:focus {
    background: white;
}
