@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
    background-color: rgb(1, 37, 70);;
}
header
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	display: relative;
	justify-content: center;
	align-items: center;
    align-content:center;
}

.logo {
    width: 100px;
    height: 100px;
}
.name {
    font-size: 1em;
    font-weight:lighter;
    color: white;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
h1 {
    position: absolute;
    margin-left: 42%;
	top: 0;
	left: 0;
    color:#fff;
    font-size: 50px;
	display: absolute;
	justify-content: space-between;
	align-items: center;
    align-content:center ;
    justify-content: center;
    justify-items: center;
}
header ul
{
	display: flex;
	justify-content: center;
	align-items: center;
    position: center;

}
header ul li
{
	list-style: none;
	margin-left: 20px;

}
header ul li a
{
	text-decoration: none;
	padding: 6px 15px;
	color:  #fff;
	border-radius: 20px;
}

.container
{
    display: grid;
    align-items: center;
    align-content: center;
    place-content: center;
    margin-top: 20rem;
    height: 100%;
    width: 100%;
}

.view-content {
    background-color:rgb(236, 236, 236);
    padding: 1rem;
    border-radius: 20px;
    transition: 1s;
    margin-bottom: 5px;
    width: 200px
}

.view-content:hover {
    background-color:rgba(0, 58, 116, 0.372);
    padding: 1rem;
    border-radius: 20px;
    transition: 1s;
    margin-bottom: 5px;
    width: 1800px;
}

.view-content-text {
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-size: 32px;
    padding: 1rem;
    width:100%;
}

.view {
 margin-left: 0rem;
 margin-top: 15rem;
 background-color: rgba(255, 255, 255, 0.651);
 height: 500px;
 width: 1900px;
 position: relative;
 position: center;
 border-radius: 50px;
 opacity: .8;
 padding-top: 2rem;
}


.button_box{
    background-color: white;
}

.sort_button{
    background-color:rgb(236, 236, 236);
    padding: 1rem;
    border-radius: 20px;
    transition: 1s;
    margin-bottom: 5px;
    width: 200px;
    text-transform: uppercase;
}


.content {
    margin-left: 2rem;
}



